*{box-sizing: border-box;}

h1,h2,h3{margin-top: 0;}

body{width: 100%;}
main{width: 80%;}


body{
    max-width: 1920px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 10px;
}

p{font-size: 18px;line-height: 20px;}

#imageResponsive{
    width: 100%;
}

#imageResponsive img{
    width: 100%;
    border: 2px solid darkmagenta;
}

#noMovil{
    display: none;
}

@media screen and (min-width:768px)
{
    h1,h2{color: blue;}
    main{padding: 50px;}

    p{font-size: 20px;}

    #imageResponsive img{
        width: 80%;
        border: 2px solid blue;
    }
}

@media screen and (min-width:1200px)
{
    h1,h2{color:red;}
    main{padding: 30px 100px;}
    p{font-size: 16px;line-height: normal;}

    #imageResponsive
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }


    #imageResponsive img{
        width: 47%;
    }


    #noMovil
    {
        display: inline;
    }







}